@charset "UTF-8";

:root{
    --primary-color: white;
    --secondary-color: ;
    --tertiary-color: ;
    --text-color: black;
}

.dark-mode {
    --primaryColor: black;
    --secondaryColor: ;
    --tertiaryColor: ;
    --textColor: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}