.container-grid {
    margin-top: 50px;

    display: grid;
    gap: 40px 40px;
    place-content: center center;
    align-items: center;
    grid-template-columns: repeat(3, 280px);
    grid-auto-rows: 300px;
    grid-auto-flow: row;
}