.container-grid {
    margin-top: 50px;

    display: grid;
    gap: 40px 40px;
    place-content: center center;
    align-items: center;
    grid-template-columns: repeat(1, 280px);
    grid-auto-rows: 300px;
    grid-auto-flow: row;
    transition: 0.5s ease;
}

@media screen and (min-width: 660px) {
    .container-grid {
        grid-template-columns: repeat(2, 280px);
    }
}

@media screen and (min-width: 980px) {
    .container-grid {
        grid-template-columns: repeat(3, 280px);
    }
}