@charset "UTF-8";

:root{
    --primary-color: black;
    --secondary-color: rgb(103, 138, 255);
    --tertiary-color: rgb(111, 123, 190);
    --text-color: white;
    --bg-color: rgb(61, 61, 61);
    --projects-color: rgb(80, 80, 80);

    .light-mode {
        --primaryColor: white;
        --secondaryColor: ;
        --tertiaryColor: ;
        --textColor: black;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    margin-top: 60px;
    background-color: var(--bg-color);
}