@charset "UTF-8";

:root{
    --primary-color: #C674DB;
    --secondary-color: #A373DB;
    --tertiary-color: #7487DB;
    --text-color: white;
    .dark-mode {
        --primaryColor: black;
        --secondaryColor: ;
        --tertiaryColor: ;
        --textColor: white;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    margin-top: 80px;
}