.conteudo {
    flex: 1;
    line-height: 1.5em;
}

.conteudo > h2 {
    margin-bottom: 20px;
    color: var(--tertiary-color);
    font-size: 1.2em;
}

.conteudo > p {
    text-align: justify;
    font-size: 0.9em;
}

.conteudo > ul {
    list-style-position: inside;
    list-style-type: circle;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.conteudo > ul > li::marker {
    font-size: 1.4em;
    color: var(--tertiary-color);
}

@media screen and (min-width: 1000px) {
    .conteudo {
        line-height: 1.7em;
    }
    
    .conteudo > h2 {
        font-size: 1.6em;
    }

    .conteudo > p, .conteudo > ul {
        font-size: 1.1em;
    }
}