.conteudo {
    flex: 1;
    line-height: 1.5em;
}

.conteudo > h2 {
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.conteudo > p {
    text-align: justify;
}

.conteudo > ul {
    list-style-position: inside;
    list-style-type: circle;
    
}

.conteudo > ul > li::marker {
    font-size: 1.4em;
    color: var(--tertiary-color);
}