footer {
    height: 80px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer > p {
    padding: 5px;
}

footer > a {
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
    display: block;
    font-size: 1em;
}
    footer > a:hover {
        text-decoration: underline;
    }

@media screen and (min-width: 660px) {
    footer {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1000px) {
    footer {
        font-size: 1em;
    }
}

 