header {
    height: 60px;
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    display: flex;
    align-items: center;
    
    background-color: var(--primary-color);
}

header > h3 {
    color: var(--text-color);
    height: 28px;
}



