.projeto {
    height: 100%;
    width: 100%;
    background-color: var(--projects-color);
    border-radius: 15px;
    border: 2px solid var(--tertiary-color);
    margin: auto;
}
    .projeto:hover {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
        transform: translate(-0px, -1px) scale(1.02);
        cursor: pointer;
    }
    .projeto:active {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) inside;
    }

.projeto > h2 {
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    color: var(--text-color);
}

.projeto > p {
    padding: 8px 15px;
    text-align: justify;
    color: var(--text-color);
}