.projeto {
    height: 250px;
    width: 250px;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    margin: auto;
}

.projeto:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
    transform: translate(-0px, -1px) scale(1.02);
}