section {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

section > h1 {
    color: var(--secondary-color);
    font-size: 1.4em;
}

section > h2 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.3em;
}

section > hr {
    height: 4px;
    outline: none;
    border: none;
    background-color: var(--secondary-color)
}