section {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

section > h1 {
    color: var(--secondary-color);
    font-size: 1.4em;
}

section > h1.center{
    text-align: center;
}

section > hr {
    height: 4px;
    outline: none;
    border: none;
    background-color: var(--secondary-color)
}

@media screen and (min-width: 1000px) {
    section > h1 {
        font-size: 1.8em;
    }

    section > h2 {
        font-size: 1.6em;
    }
}